h1 {
 padding: 60px;
 background-color: #1abc9c;
 color: white;
 font-size: 30px;
 font-family: "Aptos", "Aptos_Embedded  Font", "Aptos_MSFontService", Calabri, Helvetica, sans-serif;
}

body {
 font-family: "Aptos", "Aptos_EmbeddedFont", "Aptos_MSFontService", Calabria, Helvectica, sans-serif;
}
