---
---
@import "{{ site.theme }}";

* {
  transition: background-color 0.5s ease, color 0.5s ease;
}

#myButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #FFF;
  background-color: #222;
  color: #FFF;
  transition: transform 0.2s, background-color 0.3s;
}
#myButton:hover {
  background-color: #f0f0f0;
  filter: brightness(1.2); /* Makes it glow slightly */
  transform: scale(1.1); /*Makes the button slightly grow when hovered */
}
.main-header {
  position: fixed; /* Keeps it in the top-left like the image */
  top: 10px;
  left: 20px;
  z-index: 1000; /* Ensures it stays on the top of the other content */
}

.site-logo {
  height:   35px; /* Adjust this to match the size in your image */
  width:    auto;
  display: block;
}

/* Pushes your main text down so it doesn't hide under the Logo */
body {
  padding-top: 60px;
}

h1 {
 padding: 60px;
 background-color: #000000;
 color: white;
 font-size: 30px;
 font-family: "Aptos Display", sans-serif;
 font-weight: bold;
}


code {
 font-family: "Aptos Mono", monospace;
 background-color: #000000;
 color: #FFFFFF;
}
