---
---
@import "{{ site.theme }}";
.main-header {
  position: fixed; /* Keeps it in the top-left like the image */
  top: 10px;
  left: 20px;
  z-index: 1000; /* Ensures it stays on the top of the other content */
}

.site-logo {
  height:   35px; /* Adjust this to match the size in your image */
  width:    auto;
  display: block;
}

/* Pushes your main text down so it doesn't hide under the Logo */
body {
  padding-top: 60px;
}

h1 {
 padding: 60px;
 background-color: #000000;
 color: white;
 font-size: 30px;
 font-family: "Aptos Display", sans-serif;
 font-weight: bold;
}

body {
 font-family: "Aptos", sans-serif;
 background-color: #000000;
 color: #FFFFFF;
}

code {
 font-family: "Aptos Mono", monospace;
 background-color: #000000;
 color: #FFFFFF;
}
